<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="/public/styles/login.css"></script>

</head>

<body>

    <!-- Simulate a smartphone / tablet -->
    <div class="mobile-container">

        <!-- Top Navigation Menu -->
        <div class="topnav">
            <a href="#home" class="active">Sign in</a>
        </div>

        <div style="padding-left:16px">
            <h4>Email</h4>
            <input id="email" type="email" autocomplete="email" required autofocus>
            <h4>Password</h4>
            <input id="password" name="password" type="password" autocomplete="password" required>
            <br>
            <button class="submit_button" style="margin-top: 10px;" onclick="login()">Send</button>
        </div>
        <!-- End smartphone / tablet look -->
    </div>

</body>

<script>
    const login = async () => {
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;
        const response = await fetch('/auth/login', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email: email, password: password })
        });
        if (!response.ok) {
            const message = `An error has occured: ${response.status}`;
            throw new Error(message);
        }
        window.location.replace("/admin");
    }
</script>

</html>